<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <h1>Contact List</h1>
    <ul>
        <% for(let i of contact_list) {%>
            <p><%=i.name%></p>
            <p><%=i.contact%></p>
        <%}%>
    </ul>

    <form action="/create-contact" method="post">
        <input type="text" name="name" placeholder="NAME" reqired>
        <input type="number" name="contact" id="" placeholder="CONTACT NUMBER" required>
        <button type="submit">ADD</button>
    </form>
</body>
</html>