<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/home.css">

</head>
<body>
    
    <h1 id="page_heading">
        <i class="fas fa-address-book"></i>
        Contact List
    </h1>
    <ul id="contact_list">
        <% for(let i of contact_list) {%>
            <li id="contact_item">
                <p><%=i.name%></p>
                <p><%=i.phone%></p>
                <a id ="deleteIcon" href="/delete-contact/?id=<%= i._id %>">
                    <i class="fa-solid fa-trash"></i>
                </a>
              
            </li>
        <%}%>
    </ul>

    <form action="/create-contact" method="post" id="form">
        <input type="text" name="name" placeholder="NAME" reqired>
        <input type="number" name="contact" id="" placeholder="CONTACT NUMBER" required>
        <button type="submit">ADD</button>
    </form>
    <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>