body{
    background-color: #008080;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
}
#list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}
#listItem{
    border: 1px solid black;
    margin: 15px;
    padding: 15px;
    box-shadow: 1px 1px #404040;

}

#navBar{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navBar > h1 {
        margin: 25px;
}

a{
    text-decoration: none;
    color: white;
}

button{
background-color: #80004C;
color: aliceblue;
border: 1px solid black;
}



